.App {
  text-align: center;
}

h3 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 0;
}

p {
  font-size: 13px;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
}

.podcast-field {
  margin-top: 50px;
}

.podcast-description {
  display: grid;
  width: 570px;
  grid-gap: 20px;
  margin: 0 auto;
}

.podcast-description img {
  grid-column: 1;
  grid-row: 1/3;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 9px lightgrey;
}

.podcast-description h3,
.podcast-description p {
  grid-column: 2;
  text-align: justify;
  align-self: center;
}

.podcast-description p {
  margin-top: 0;
  margin-bottom: 20px;
}

span {
  color: darkred;
  font-size: 10px;
  border: 2px solid darkred;
  margin: 10px;
  padding: 3px 5px;
}

.track-list {
  width: 520px;
  margin: 0 auto;
}

.single-track {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid lightblue;
  position: relative;
}

.audio-player {
  border-bottom: 2px solid lightblue;
  width: 520px;
  margin: 0 auto;
  text-align: left;
  padding: 25px;
}

ul {
  list-style: none;
  padding: 0;
}

button:hover {
  box-shadow: 0px 0px 12px lightblue;
  border-color: rgb(200, 232, 243);
}

.single-track button {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.audio-player button {
  margin: 3px;
}

button {
  background-color: white;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  color: rgb(59, 59, 59);
}

.fa-pause {
  color: rgb(245, 200, 51);
}

.fa-4x {
  padding: 16px;
}

.fa-2x {
  padding: 11px 8px;
}

.single-track p {
  text-align: end;
}

div.duration p {
  position: absolute;
  right: 0;
  margin-right: 10px;
}

#volume {
  display: none;
}

input#volume.active {
  display: unset;
  padding: 6px 1px;
}

#progress-bar {
  width: 100%;
  margin-bottom: 25px;
}

input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  border: 2px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  background: lightblue;
  border-radius: 1.3px;
}

input[type="range"]::-moz-range-track {
  height: 6px;
  cursor: pointer;
  background: lightblue;
  border-radius: 1.3px;
}
input[type="range"]::-moz-range-thumb {
  border: 2px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 0;
}

@media all and (max-width: 500px) {
  .podcast-description {
    width: 480px;
    margin: 15px;
  }

  .audio-player {
    padding: 0;
    width: 480px;
    margin: 10px 20px;
    padding-bottom: 10px;
  }

  ul {
    width: 80%;
    margin: 0 auto;
  }
}
